<!DOCTYPE html>
<html>

{% load static %}
    <head>
        <title>Baileys</title>
        <meta charset="utf-8"/>
        <meta charset=”utf-8”> 
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <script src="{% static "jquery-1.11.1.js" %}"></script>
    </head>

    <body>
        <div id="shoePic">
        <div id = "image">
            <img id="outline" src = "{% static "Shoe1.png" %}" alt = "Picture of a shoe" onClick="drink()"/>
            <img id="transparentShoe" src = "{% static "Shoe2.png" %}" alt = "Picture of a shoe" />
            <img id="background" src = "{% static "Shoe3.png" %}" alt = "Picture of a shoe" />
            <img id="baileys" src = "{% static "Shoe4.png" %}" alt = "Picture of a shoe" />
            <img id="shoe" src = "{% static "Shoe5.png" %}" alt = "Picture of a shoe" />
        </div>    
        </div>
        
        <div id="info">
        	<h1> <strong>{{ boldmessage }}</strong><br /> </h1> </br>
        	<div id="button"><button type="button" class="btn btn-primary btn-lg btn-block" onclick = "refill()">Refill</button> </div>
        </div>
        <script type="text/javascript" src="{% static "baileys.js" %}"></script>

        <audio controls loop autoplay=false hidden=true id="loveGames">
            <source src="{% static "lovegames.mp3" %}" type="audio/mpeg">
            Your browser does not support HTML5 audio.
        </audio>

        <audio controls autoplay=false hidden=true id="question">
            <source src="{% static "baileysfromashoe.mp3" %}" type="audio/mpeg">
        </audio>

        <audio controls hidden=false autoplay=true id="fill">
            <source src="{% static "pouring-beer-1.mp3" %}" type="audio/mpeg">
        </audio>

        <audio controls hidden=false autoplay=true id="gulp">
            <source src="{% static "gulp.mp3" %}" type="audio/mpeg">
        </audio>

    </body>


</html>