@import url("css/bootstrap.min.css"); 


#image {
	margin: 0 auto;
	width: 55em;
	height: 40em;
}
img {
	position: absolute;
	width: 45%;
}

#info {
	position: relative;
	text-align: center;
	z-index: 6;
	background-color: #FFFFFF;
	margin: 0 auto;
	height: 10em;
	width: 55em;
}

#outline {
	z-index: 5;
}

#transparentShoe {
	z-index: 4;
}

#background {
	z-index: 3;
}

#baileys {
	z-index: 2;
<<<<<<< HEAD
=======
	margin-top: 3em;
>>>>>>> lechengs_branch
}

#shoe {
	z-index: 1;
}

#button {
	width: 30%;
	margin: 0 auto;
}
